body {
    height: 100vh;
}
.imgContainer {
    height: 50%;
    width: 70%;
    transition: transform .2s;
    background-image: url("../img/avengers-gameverse-marvel-626-iron-man-1-1596029401_0x460.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
.imgContainer:hover {
    transform: scale(1.5);
}